$cultured: #F7F3F3;
$champagne-pink: #E2D4D3;
$silver-pink: #C9ADA7;
$redwood: #9D6158;
$tuscany: #BF9F9C;
$alice-blue: #E4E9F1;
$light-grey: #D1D9DB;
$white: #FFFFFF;
$roman-silver: #898F9D;

$midnight-green: #19444E;
$russian-green: #629677;
$india-green: #358600;
$lincoln-green: #215200;
$tea-green: #CEFFAD;
$honeydew: #D5EBDD;


$blue-yonder: #546EB6;
$periwinkle-crayola: #B8C2E0;
$independence: #525B76;
$slate-grey: #67848E;
$space-cadet: #222E50;
$heliotrope-gray: #9A8C98;
$isabelline: #F2E9E4;

$cream: #F3FFBD;
$orange-web: #f49f0a;
$sunray: #E2AF60;
$indian-yellow: #DC9E41;
$camel: #CA9965;
$sepia: #6D3D14;
$copper-penny: #B2675E;


$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

