$cultured: #F7F3F3;
$champagne-pink: #E2D4D3;
$redwood: #9D6158;
$camel: #CA9965;
$alice-blue: #E4E9F1;
$light-grey: #D1D9DB;
$midnight-green-eagle-green: #19444E;
$white: #FFFFFF;
$roman-silver: #898F9D;
$independence: #525B76;
$slate-grey: #67848E;




$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

