<div id="navbarr" >
      <% if user_signed_in? %>
        <div>
          <% if current_page?('/') %>
            <div class="navbar-title">Scrooble</div>
          <% else %>
            <%= link_to "/" do %>
              <div class="navbar-title">Scrooble</div>
            <% end %>
          <% end %>
        </div>
        <div id="navbar-game"></div>
        <div class="nav-item-last">
            <div class="logged-in-as">
              Logged in as <%= current_user.username %>
            </div>
          <%#= image_tag "don.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="logout">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, id: "logout" %>

            </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
</div>
