
 <%= turbo_frame_tag "game" do %>
   <div class='board board-hide col-12' id="board" data-animate-out="animate-fade" data-letter-grid="<%= @game.letter_grid %>" data-jokers="<%= @game.jokers %>" >
    </div>
  <% end %>
