// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import 'config/colors';

 :root {
  --color-primary: #2dd36f;
  --bulge-delay: .2s;
  --type-color: #F3FFBD; //$cream
  --card-height: 100px;
  --select-hilite: radial-gradient(circle at center, rgba(255, 255, 255, 1) 15%, $lime-green 45%);
}

hr {
  color: var(--btn-type-hilite);
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0 !important;
  border:none !important;
  background-color: transparent !important;
}

.fa-bell {
  visibility: visible;
  font-size: 16px;
  color: var(--logo-color) !important;
  margin-top: 4px !important;
  margin-right: 4px !important;
  transform:scale(.6);
  opacity:.0;
  text-shadow: 1px 1px 3px var(--bg-color);
}

.fa-bell-animate {
  animation: blip 3.5s forwards var(--bell-delay) ease-in-out infinite;
}

@keyframes blip {
  0% {
    opacity:.0;
    transform:  scale(.6) rotate(0deg);
  }

  35% {
    opacity:.8;
    transform: scale(1.3) rotate(15deg);
  }
  40% {
    opacity:.8;
    transform: scale(1.3) rotate(15deg);
  }
  65% {
    opacity:.0;
    transform: scale(1.3) rotate(15deg);
  }
}

.fa-bell-hidden {
  visibility:hidden;
  animation: none;
}

#replacement-input {
  height: 30px;
  width: 30px;
  display:inline;
  margin-top: 8px;
}

.new-game-name {
  color: var(--btn-type-hilite);
}

.new-description {
  font-size: 12px;
  opacity: .7;
}

.info-replacement {
  display: flex;
}

.tile-joker {
  --j: var(--btn-bg-hilite);
  border: 2px solid var(--j) !important;
  // border-color: var(--j);
}

.fa-plus-circle {
  color: var(--logo-color);
}

.fa-caret-right {
  transform: translate(-80px, var(--bug-y-offset));
  position: absolute;
  color: var(--logo-color);
  z-index: 500;
}

.caret-select {
  transform: translate(-80px, var(--bug-y-offset)) !important;

}

.select {
  // margin-bottom: 12px;
  text-align: right;
}

select {
  border-radius: 4px;
}

#challenge-body {
  background-color: transparent !important;
}

.challenge-body::before {
    content: "";
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    background-color: var(--bg-color);
    opacity: 0.8;
    z-index: -100;
border: 2px solid var(--btn-type) !important;
}

#gamelink{
  visibility: collapse;
}

.create-page-identifier {
  align: center;
  width: 80%;
  opacity: 1;
  padding: 8px;
  transition: opacity 0.7s ease-out;
  background-color: var(--panel-color);
  color: var(--type-color) !important;
  box-shadow: 0px 0px 4px inset $rich-black !important;
  border: 1px solid $roman-silver !important;
  border-right: 1px solid $roman-silver !important;
  border-left: 2px solid $isabelline !important;
  border-top: 1px solid $isabelline !important;
  border: 1px solid var(--logo-color) !important;
  border-radius: 8px;
  margin-left: 10%;
  transform: translateY(-900px);
  @media screen and (max-width: 800px) {
    width: 80%;
  margin-left: 10%;
  }
}

.create-page-identifier-show {
  animation: showcreatepanel .7s .5s forwards;
}

@keyframes showcreatepanel {
  from {transform: translateY(-900px);}
  to {transform: translateY(50px);}
}


#pending-alert {
  text-align: left;
  position: fixed;
  font-size: 13px;
  top: 30%;
  // bottom: 30%;
  width: 80%;
  // background-color: $roman-silver;
  padding: 8px 24px;

  color: $alice-blue;
 align: center;
  // margin-top: 16px;

  background: radial-gradient(farthest-corner at 0px 0px, $deep-space-sparkle 20%, $roman-silver 90%);

  box-shadow: 0px 0px 4px inset $rich-black !important;

  border: 1px solid $roman-silver !important;
  border-right: 1px solid $roman-silver !important;
  border-left: 2px solid $isabelline !important;
  border-top: 1px solid $isabelline !important;
  border-radius: 8px;
}

.pending-head {
  font-size: 16px;
  color: $sunray;
  margin: 0;
}

.index-score {
  color: var(--btn-type-hilite);
}

 #new-game-btn {
  color: var(--type-color);
  line-height: 16px;
  border-radius: 4px;
  border-color: 1px solid var(--type-color);
}

 .new-game-btn:hover {
  color: var(--btn-type-hilite) !important;
}

.new-game-head {
  color: var(--btn-type);
  font-size: 18px;
}

.scr-ltr {
  margin:0 !important;
  padding:0 !important;
  font-size: inherit;
  color: inherit;
  letter-spacing: 0px !important;
  width: inherit !important;
  padding-left:0px !important;
}

.avatar-div {
  display: flex;
  flex-direction: column;
  height: 220 px;
  align-items: center;
  text-align: center;
}

.avatar-lg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid $space-cadet;
  object-fit: cover;
}

[type="field"] {
  font-weight: bold !important;
  font-size: 30px !important;
}

.show-page-identifier {
  background-color: var(--panel-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  margin-top: 12px;
  width: 100%;

}

turbo-frame {
  // border: 1px solid white;
  margin: 0;
  padding: 0;
}

.summary-body {
  font-size: 12px;
}

.show-scores {
  display: flex;
  flex-direction: column;
  min-width: 16%;
}

.show-name-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--btn-type);
}

.show-name {

}

.show-score {
  font-weight: bold;
}

.announce {
  width: 50%;
  @media only screen and (max-width: 600px) {
  width: 90%;
  }
}

.new_user {
  color: $honeydew;
  width: 50%;
}

.fa-bell {
  color: $redwood;
  font-size: 16px;
}

.fa-trophy {
  color: $light-gray;
  font-size: 14px;
}

.fa-arrow-right {
  color: $lincoln-green;

}
.fa-arrow-right-pulse {
  animation-name: pulse;
  animation-duration: 2.1s;
  animation-timing-function: ease-in-out;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}


@keyframes pulse {
  0%, 65%, 100% {
    transform: translateX(2px) ;
  }
  40% {
    transform: translateX(-6px);
    color: $honeydew;
  }
}

@keyframes gleam {
  20%, 60% {
    transform: translateX(0px)  scale(1);
  }
  40% {
    transform: translateX(2px) scale(1.3);
    color: $honeydew;
  }
}

.my-games-head {
  text-align: right !important;
  position: absolute;
  color: $roman-silver;
  top: 30px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;

  @media screen and (max-width: 400px)  {
    top: 10px !important;
    text-align: left !important;
  }
}

.nav-emp {
  margin-left: 8px;
  font: var(--font2) !important;
  color: var(--btn-type);
  position: relative;
  top: 18px !important;
  @media screen and (max-width: 600px) {
  position: fixed;
  top: 24px !important;
  }
  @media screen and (max-width: 400px) {
    font-size: .9em !important;
  }
}

.announce-players {
  margin-left: 16px;
}

.message {
  text-align: center !important;
  background-color: hsla(160, 60, 70, .5) !important;
}

.modal-content-message {
  border-radius: 8px;
  text-align: center;
  color: $honeydew;
  padding: 32px;
  margin: 32px;
   background: radial-gradient(farthest-corner at 0px 0px, $deep-space-sparkle 20%, $roman-silver 90%);



  box-shadow: 0px 0px 4px inset $rich-black !important;

  border: 1px solid $roman-silver !important;
  border-right: 1px solid $roman-silver !important;
  border-left: 2px solid $isabelline !important;
  border-top: 1px solid $isabelline !important;
}

#messages {
  color: $honeydew;
  overflow: hidden;
  text-align: center;
  font-size:12px;
  z-index: 300;
}

.messages {
  visibility: hidden;
  display: fixed;
  height: 18px;
  top: 50%;
  transition: all 0.4s ease-out;
}


.messages-show {
  visibility: visible;
  height: 18px;
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.edit-page-identifier {
  background-color: transparent;
  height: 100% !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 984px) {
    flex-direction: column;
  }
}

.edit-page-identifier button {
  @media only screen and (max-width: 984px) {
  }
  @media only screen and (max-width: 600px) {
  height: 100%;
  }
}

:root {
  --fade-delay: 0;
}

.new-page-identifier {
  align: center;
  width: 40%;
  opacity: 0;
  transition: opacity 0.7s ease-out;
  background-color: var(--panel-color);
  color: var(--type-color) !important;
  box-shadow: 0px 0px 4px inset $rich-black !important;
  border: 1px solid var(--logo-color) !important;
  border-radius: 8px;
  margin-left: 30%;
  transform: translateY(-1200px);
  animation: showpanel .7s .5s backwards;
}

.new-page-identifier-show {
  opacity: 1;
  transition: opacity 0.7s ease-out;
  animation: showpanel .7s .5s forwards;
  transform: translateY(90px);
  @media only screen and (max-width: 820px) {
    width: 60%;
    margin-left: 20%;
  }
  @media only screen and (max-width: 700px) {
    width: 70%;
    margin-left: 15%;
  }
  @media only screen and (max-width: 600px) {
    width: 80%;
    margin-left: 10%;
  }
  @media only screen and (max-width: 500px) {
    width: 90%;
    margin-left: 5%;
  }
}

@keyframes showpanel {
  from {transform: translateY(-1200px);}
  to {transform: translateY(90px);}
}

.bg {
  position:fixed;
  // background-color: transparent;
  margin:0 !important;
  width: 100% !important;
  height: 100% !important;
}

.board-value {
  transform: translateX(-1px);
  font-weight: bold;
  baseline-shift: sub;
  padding-top: 1px;
  padding-right: 2px;

  margin-left: 0px !important;
  padding-left: 0px !important;

  letter-spacing: -1.2px !important;
  position: relative;
  bottom:-8px;
  opacity: .8;
  color: $space-cadet;
   @media screen and (max-width: 600px)  {
  font-size: 7px !important;

  }
  @media screen and (max-width: 432px)  {
  padding-top: 7px;
    height:30px;

  }
  @media screen and (min-width: 600px)  {
    padding-top: 0px;
  }
}

.delete-btn {
  position: relative;
  top:-17px;
  right:-2px;
  width: 0px;
}

.marked-for-exchange {
  background-color: hsl(10, 40, 80) !important;
  border: 2px solid var(--logo-color) !important;
  transition: .2s all ease-out;
  transform: scale(.88);
  opacity: .6 !important;
}
.card {
  background-color: var(--panel-color) !important;
}

.stored-game {
  font: var(--font1) !important;
  opacity: 1 !important;
  padding: 8px;
  height: 80px;
  background-color: transparent !important;
  box-shadow: 0px 0px 6px inset $rich-black !important;
  border: 1px solid var(--logo-color) !important;
}

.stored-game::before {
  margin: 0 !important;
  z-index: -100;
   content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-8px, -8px);
    border-radius: 4px;
    background-color: var(--panel-color) !important;
    opacity: 0.7;
}

.stored-game-completed {
  padding: 0 !important;
  background-color: transparent !important;
  border:none !important;
  box-shadow: 1px 1px 6px inset $rich-black !important;
}

.stored-game-completed::before {
  margin: 0 !important;
  z-index: -100;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0px, 0px);
  border-radius: 4px;
  background-color: var(--bg-color3) !important;
  opacity: 0.6;
}

.name-completed {
  color: var(--btn-type) !important;
  padding-left: 8px;
  padding-top: 8px;
  text-shadow: none !important;
}

.players-completed {
  padding-right: 8px;
}

.status-completed {
  color: var(--btn-type) !important;
  padding: 8px !important;
  margin-right: 8px;
  width:100%;
}



.sortable-chosen {
  opacity: .3;
}

.current-player {
   color: hsl(18, 40, 60);
   font-weight: bolder;
   transform: scale(1.4);
}

.avatar {
  height: 40px;
  border-radius:50%;
  box-shadow: -1px 1px 3px inset black !important;
}

.avatar-index {
  margin-left:4px !important;
  margin-right:4px !important;
  width: 28px;
  height: 28px;
  box-shadow: 1px 1px 2px black !important;
  transform: scale(1);
  transition: .4s all ease-out;
}

.avatar-index:hover {
  transform: scale(1.5);
  transition: .4s all ease-out;
}

.dropdown-menu-right {
  width: 200px;
}



.center-tile {
  // background-color: hsl(118, 40, 80) !important;
  background-color: $copper-penny !important;
  // border: 1px solid $space-cadet !important;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  // background-image: image-url('../assets/images/star.svg');
}


.joker-replaced {
  border: 2px solid hsl(118, 70, 70) !important;
}


.your-games-hide {
  // transform: translateX(1200px);
  // transition: transform 1.0s ease-in;
  height: 100% !important;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  // background-color: transparent;

}

.your-games-show{
  opacity: 1;
  transition: opacity 0.4s ease-in;
  // background-color: green !important;
  // transform: translateX(0px);
  // transition: transform 1.0s ease-out;
}


#your-games{
  background-color: transparent;
  // background-color: $prussian-blue;
  margin-top: 8px;
  min-height: 100% !important;

}



a {
  text-decoration: none !important;
  color: hsl(210, 40, 50) !important;
  font-family: 'Grandstander', display;
  font-size: 18px;
}



.animate-slide-down {
  animation: slide-down 1.3s ease;
  animation-fill-mode: forwards;
}

.animate-slide-right {
  animation: slide-right 1.1s ease-out;
  animation-fill-mode: forwards;
}
.animate-slide-left {
  animation: slide-left 1.1s ease-in;
  animation-fill-mode: forwards;
}
.animate-fade {
  animation: fade .9s ease;
  animation-fill-mode: forwards;
}
@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(400px);
  }
}

@keyframes slide-right {
  from {
    // opacity: 1;
    transform: translateX(0);
  }

  to {
    // opacity: 1;
    transform: translateX(1600px);
  }
}

@keyframes slide-left {
  from {
    // opacity: 1;
    transform: translateX(0);
  }

  to {
    transform: translateX(-200px);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.plus-sign {
  text-shadow: 1px 1px 2px  var(--bg-color) !important;
  // box-shadow: 1px 2px 2px inset hsl(20, 15, 50) !important;
  background-color: var(--panel-color) !important;
opacity: .7;
  border: 1px solid var(--logo-color) !important;
  border-radius: 4px;
    // background: radial-gradient(farthest-corner at 0px 0px, $deep-space-sparkle 20%, $roman-silver 90%);
  box-shadow: 0px 0px 4px inset $rich-black !important;
}

.nav-item p {
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  padding-right: 8px;
  margin: 0;
}

.card-name {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  color: var(--btn-type);

  letter-spacing: 1.3px;
  line-height:16px;
  // text-shadow: 1px 1px 1px $gunmetal;
}

.status {
  color: var(--type-color);
  font-size: 12px;
  // bottom: 8px;
  width: 100%;
  text-align: right;
  padding-top: 8px;
  padding-right: 0px;
}

.player-alert {
  color: hsl(210, 41, 31);
}


.this-user {
  font-weight: bolder;
  // font-size: larger;
  // color: $space-cadet;
}

.pickem {
  font-size: 16px;
  margin-top: 8px;
  color: var(--type-color);
  margin-bottom: 3px;
}


.opponent {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
}

.opponent:first-child {
  margin-top: 4px;
}

.opponent-name {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  font-weight: bolder;
  color: var(--btn-type) !important;
  transition: all .5s;
}

.opponent-name-selected {
  color: var(--btn-type-hilite) !important;
  transition: all .5s;
}

.toggle-stats {
  display: flex;
  align-items: flex-end;
  color: var(--type-color);
  font-size: 12px;
}

.opponent-stats {
  margin:0;
  padding:0;
}

.stats {
  pointer-events: none;
  display: flex;
  margin-top: 4px;
  padding-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: space-between;
  font-size: 12px;
  background-color: transparent;
  font-style: italic;
  border-bottom: 1px solid var(--btn-type-hilite);
  transform: translateY(-32px);
  transition: all .4s ease-in;
}
.stats-show {
  opacity:1;
  transform: translateY(-8px);
  transition: all .4s ease-out;
}

.stats:last-child {
}

.stats-mask {
  clip-path: inset(0px 0px 0px 0px);
  height:0;
  // width: 100%;
  transition: all .4s ease-in;
  padding-left: 4px;

  left: -24px;
  right: -24px;
}

.stats-mask-show {
  clip-path: inset(0px 0px -8px 0px);
  height:32px;
  transition: all .4s ease-out;
}

.stats-text {
  // visibility: hidden;
  text-align: center;

}

.stats-text-show {
  visibility: visible;

}

.stats-label {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#user_avatar {
  // width: 100% !important;
  border-radius: 0 !important;
  // background-color: transparent;
}
.choose {
  // border-radius: 0 !important;
  text-align: center;
}

[type="submit"] {
  //  color: $space-cadet;
  // // background: linear-gradient(0turn, $midnight-green, $russian-green 55%, $tea-green 72%, $russian-green 88%) !important;
  // box-shadow: 1px 1px 3px inset $pine-tree !important;
  background-color: transparent !important;

  border: none !important;
   border-radius: 4px !important;
   // padding: 8px !important;
   font-weight: bold;
// border: 1px solid $prussian-blue !important;

  height: 24px;
  margin:0 !important;


}

[type="email"] {
margin-bottom: 8px;
}
[type="password"] {
margin-bottom: 8px;
}

label {
  margin-top: 0 !important;
  line-height: 10px !important;
  font-size: 14px !important;
  font-weight: bolder;
  color: var(--type-color);
}


[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  // height: 16px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  background-color: var(--panel-color);
 color: var(--btn-type);
 font-size: 18px !important;
  // background: linear-gradient(0turn, $midnight-green, $russian-green 55%, $tea-green 72%, $russian-green 88%) !important;
  // box-shadow: 1px 1px 3px inset $pine-tree !important;

   border-radius: 4px !important;
   margin-top: 8px !important;
   padding: 8px !important;
   // font-weight: bold;

  font-size: 10px !important;
  // opacity: 1;
}

[type="file"] + label:hover {
  color: var(--btn-type-hilite);
}

[type="file"]:focus + label {
}


#file-upload-button {
}

.stats-num {
  color: var(--btn-type-hilite);
  font-weight: bold;
  margin-left: 6px;
  margin-right: 6px;
  margin:0;
  font-style: normal;
  font-size: 14px;
}

input {
  padding-left:8px;
  width:100%;
  border-radius: 8px;
  background-color: white;
}

.btn-container {
  width: 100%;
  text-align: center;
}

#new-game-btn {
  border-radius: 8px;
  border: none;
  margin: 8px;
  padding: 0 8px;
  background-color: transparent !important;
  color: var(--btn-type);
  width: 50%;
}



#new-game-btn:hover {
  // background-color: $cream;
  // color: $lime-green;
  color: var(--btn-type-hilite);
}

input[type='checkbox']{
  width: 16px !important;
  height: 16px !important;
  border-radius:50%;
  margin-right: 6px;
  margin-bottom: 3px;
  // border-radius: 50% !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  // outline: 1px solid var(--btn-border-hilite);
  background-color: var(--btn-type);
  box-shadow: none;
  font-size: 2em;
  box-shadow: 1px 1px 3px black;
  transform: translate(0, 0);
  transition: all .4s ease-in;
}

input[type="checkbox"]:checked {
  background-color: var(--btn-type-hilite);
  -webkit-appearance: visible;
  -moz-appearance: visible;
  -o-appearance: visible;
  appearance:visible;
  box-shadow: -1px -1px 1px var(--btn-type);
  transition: all .4s ease-out;
}

a:link, #navbar a:visited, #cnavbar a:hover, #navbar a:active,  {
    text-decoration:none;
}

.name-players {
  height: 80%;
}

.index-player-names {
  width: 100%;
  display:flex;
  justify-content: center;
}
.index-players-text {
  font: var(--font2) !important;
  color: var(--type-color) !important;
  font-weight: lighter !important;
  padding-right: 4px;
}
.index-players-text-completed {
  color: var(--btn-type);
  font-weight: regular;
  padding-right: 4px;
}

.index-avatars {
  display:flex;
}

.index-avatar {
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-weight: bold;
  // color: hsl(90, 85, 40);
  color: $space-cadet;
  text-align: right;
  padding-top: 3px;
  margin:0;
  line-height: 16px;

  background-color: transparent;
  // background-color: hsl(60, 20, 85);
  font-family: 'Grandstander', display;
}

.hide {
  opacity:0;
}

.cards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: transparent;
  @media only screen and (max-width: 984px) {
    grid-template-columns: 33% 33% 33%;
  }
  @media only screen and (max-width: 760px) {
    grid-template-columns: 50% 50%;
  }
  @media only screen and (max-width: 520px) {
    grid-template-columns: 100%;
  }
}

.card {
  display: inline;
  height: 100px;
  border-radius: 8px;
}

.add-new-card {
  font-size: 64px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#last {
  font-size: 12px;
}

.my-value {
  position: relative;
  font-size: 13px;
  font-weight:bold;
  bottom: -12px;
  pointer-events: none;
  color: $space-cadet;

  @media screen and (max-width: 420px)  {
    bottom: -8px;
  }
}

h5 {
  color: hsl(200, 120, 30);
}

turbo_frame_tag {
  padding: 0px;
}

#board {
  display: grid;
  height: 480px !important;
  width: 98%;
  max-width: 860px;
  grid-template-columns: 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67%
   6.67% 6.67% 6.67% 6.67% 6.67%;
  grid-template-rows: 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67%
   6.67% 6.67% 6.67% 6.67% 6.67%;
  margin: 4px !important;
  padding: 0 !important;
  justify-items: center;
  background-color: transparent;
  z-index: 0;

  @media screen and (max-width: 984px){
  }
  @media screen and (max-width: 600px)  {
    scroll: none;
  }
  @media screen and (max-width: 432px)  {
    height: 440px !important;
  }
  @media screen and (min-width: 984px)  {
    width: 840px;
  }
}

.board {
  opacity: 1;
  transition: opacity .3s ease-out .7s;
}

.board-hide {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

#dash-bg {
  margin:0px;
  padding:0px;
  width: 100%;
  height: 100%;
  background-color: $roman-silver;
  z-index: 100;
  display:fixed;
}

#dashboard-mask {
  width: 100%;
  margin:0;
  padding:0;
  @media only screen and (max-width: 984px) {
    clip-path: inset(0% 0% 0% 0%);
  }
}

#dashboard {
  margin-top: 56px;
  z-index: 1000;
  margin-right: 0px !important;
  display: flex;
  flex-direction: row;
    width: 16%;
  justify-content: center;
  background-color: transparent;
  @media only screen and (max-width: 984px) {
    flex-direction: row;
  justify-content: center;
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

#show-dashboard {
  width: 100%;
  padding: 8px;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  @media only screen and (max-width: 984px) {
  }
  @media only screen and (max-width: 600px) {
  }
}

.dashboard {
  transform: translate(0px);
  transition: all .8s ease-out;
  @media only screen and (max-width: 984px) {
    transition: all .8s ease-out;
  }
}

.dashboard-hide {
  transform: translate(-200px, 0px);
  transition: all .4s ease-in;
  @media only screen and (max-width: 984px) {
    transform: translate(-1000px, 0px);
    display: block;
    transition: all .8s ease-in;
  }
}

.dashboard-show {  // not used?
  transform: translateX(0);
  transition: all .6s ease-out;
}

#scores {
}

.scores {
  background-color: var(--panel-color);
  border-radius: 4px;
  padding: 8px;
  padding-top: 20px;
  width: 180px !important;
  left: 50% !important;
  position: fixed;
  top: -120px !important;
  // transition: all .6s ease-in-out;
  clip-path: border-box;
  border: 1px solid var(--btn-bg-hilite);
  box-shadow: 2px 1px 3px $midnight-green;
  z-index: 10000 !important;
}

#scores-mask {
  pointer-events: none;
  clip-path: border-box;
  position: absolute;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 26px;
  z-index: 10000 !important;
  -webkit-mask-image: linear-gradient(to bottom, transparent 8%, hsla(180, 60, 70, .9) 11%);
  mask-image: linear-gradient(to bottom, transparent 8%, hsla(180, 60, 70, .9) 11%);
}

.scores-show {
  top: 28px !important;
  transition: all .6s ease-in-out;
}

.score-arrow-rotate {
  transform: rotate(180deg);
  transition: all .6s ease-in-out;
}

.score-arrow {
  // transform: rotate(0deg);
  transition: all .6s ease-in-out;
}

.scores {
  transition: all .6s ease-in-out;
}

.scores:hover {
  background-color: hsla(220, 10, 70, .8);
}


.arrow-btn {
}

.arrow-btn-rotate {
  transform: rotate(180deg);
  transition: .35s all .45s ease-out;
}

.stats-btn {
  font-size: 14px;
  margin-bottom:2px;
  margin-left: 2px;
  transition: .35s all .15s ease-out;
}

.stats-btn-rotate {
  transform: rotate(180deg);
  transition: .35s all .15s ease-out;
}

.navbar-scores {
  font: var(--font1) !important;
  position: relative;
  top: 16px;

  @media screen and (max-width: 600px) {
    top: 8px !important;
  }
  @media screen and (max-width: 400px) {
    font-size: 1.1em !important;
  }
}

.name-score {
  margin-top:0;
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  padding-right:24px;
  font-size: 12px;
  transition: all .3s ease-in;
  background-color: transparent;
  width: 100%;
  min-width: 150px;
  color: var(--btn-type);
}

.name {
}

.score {
  padding-right: 8px;
}

.player-selected {
  font-style: italic;
  color:  var(--btn-type-hilite)  !important;
  border-radius: 4px;
  transition: all .3s ease-in;
}

.player-selected-name {
  background-color: red;
  font-size: 48px !important;
  animation: gleam 1.4s ease-in-out 1.8s infinite;
  animation-delay:  1.8s;
}

.player-quit {
  opacity: .5;
}


.tile {
  height: 95%;
  width: 95%;
  min-height: 36px important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid gray;
  box-shadow: 2px 2px 3px inset hsla(240, 15, 15, 0.3);
  opacity: 1;
  padding-top: 1px;
  padding-left: 1px;
  transition: opacity 600ms ease-in;

  @media screen and (max-width: 600px)  {
  }
  @media screen and (max-width: 500px)  {
   margin-top:0 !important;
  }
  @media screen and (max-width: 432px)  {
    margin-top:0 !important;
  }
}

.tile-hide {
  opacity: 0;
}

.tile-show {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.tile-index {
  background-image: url('../images/tile04.jpg');
  width: 18px;
  height: 18px;
  filter: brightness(1.1);
  border-right: 2px solid hsla(40, 130, 20, .3);
  border-bottom: 2px solid hsla(40, 130, 12, .3);
  border-left: 2px solid hsla(40, 130, 45, .3);
  border-top: 2px solid hsla(40, 130, 60, .4);
  margin-bottom: 3px;
  text-align: center;
  border-radius: 3px;
  background-color: $isabelline;
  box-shadow: 1px 1px 2px $space-cadet;
}

#user_username {
  width: 200px;
}

.remaining {
  margin-top: 4px;
}

.tiles-remaining {
  font-size: 11px;
  font-weight: light !important;
  margin-left: 4px;
  color: var(--btn-type-hilite);
}

.letter-index {
  color:  $roman-silver;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.double-word {
  background-color: $champagne-pink;
}

.triple-word {
  background-color: $tuscany;
}

.double-letter {
  background-color: $alice-blue;
}

.triple-letter {
  background-color: $periwinkle-crayola;
}

.tile01 {
  background-image: url('../images/tile01.jpg');
}

.tile02 {
  background-image: url('../images/tile02.jpg');
}

.tile03 {
  background-image: url('../images/tile03.jpg');
}

.tile04 {
  background-image: url('../images/tile04.jpg');
}

.tile05 {
  background-image: url('../images/tile05.jpg');
}

.tile06 {
  background-image: url('../images/tile06.jpg');
}


.my-tile {
  margin: 4px;
  padding: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-right: 4px solid hsla(40, 130, 20, .3);
  border-bottom: 4px solid hsla(40, 130, 12, .3);
  border-left: 4px solid hsla(40, 130, 45, .3);
  border-top: 4px solid hsla(40, 130, 60, .4);
  width:48px;
  opacity: 1;
  padding-left: 16px;
  box-shadow: 1px 1px 2px hsla(100, 15, 5, 0.4);
  transition: all .4s ease-in;

  @media screen and (max-width: 984px)  {
    margin:0 2px;
    padding: 0px;
  }
  @media screen and (max-width: 420px)  {
    width:40px;
    height:40px;
  }
}

.letter {
  font-family: 'Grandstander', display;
  font-size: 28px;
  margin-right: 0px !important;
  padding-right: 0px !important;
  color: $space-cadet;
  width: 22px;
  text-align: center;
  pointer-events: none;
  @media screen and (max-width: 984px)  {
    font-size: 22px;
  }
  @media screen and (max-width: 600px)  {
    font-size: 18px;
  }
}

.letter-selected {
  background-color: $honeydew;
  transform: translate(-1px, -1px);
  filter: brightness(1.35);
  transition: all .3s ease-in;
  pointer-events: none;
}

.letter-provisional {
  color: var(--btn-type) !important;
  text-shadow: 1px 1px 2px $rich-black;
  transition: all .4s ease-in;
  transform-origin: center;
  animation: bulge .6s ease-out forwards;
}

.letter-new {
  opacity: 0;
}

.letter-new-show {
  opacity: 1;
  animation: bulge .8s ease-in-out 1 alternate
}

@keyframes bulge {
  0% {opacity: 0; color:$russian-green; transform: scale(1.8) translateY(1px)}
  50% {opacity: 1; color:$lime-green; transform: scale(1.4) translateY(-1px)}
  100% {color:$russian-green; transform: scale(1.1) translateY(0px)}
}

#scores-buttons {
  margin: 0 !important;
  padding: 0;
  @media only screen and (max-width: 984px) {
    width: 200px;
    // display:inline;
  }

  @media screen and (max-width: 600px)  {
    width:100%;
    display: flex;
    flex-direction: row;
  }
}

.letter-disabled {
  opacity: .2;
}

#buttons {
  width: 100%;

  @media only screen and (max-width: 984px) {
    width: 100%;
    margin:0;
    margin-left: 28px;
    // margin-bottom: 8px;
    padding:0;
  }
  @media only screen and (min-width: 984px) {
    width: 80% !important;
    margin:0 !important;
    text-align: right;
  }
  @media screen and (max-width: 600px)  {
    margin:0;
    padding:0;
  }
}

.end-btn {
  width: 32%;
  left:16px;
  right:8px;
  padding: 0px 4px;
  margin-top: 4px;
  border-radius: 4px;
  transition: all .5s;

  @media only screen and (max-width: 600px) {
    width: 24%;
  }
}


.commit-btn, .cancel-btn, .exchange-btn, .end-btn {
  @media only screen and (min-width: 784px) {
    height: 42px !important;
    width: 42px !important;
    border-radius: 50% !important;
    margin-bottom: 4px !important;
    border: none !important;
  }
}

.commit-btn:hover, .exchange-btn:hover, .cancel-btn:hover,  .end-btn:hover {
  color: var(--type-color);
  box-shadow: 1px 1px 3px  var(--btn-border);
}

.exchange-btn {
  width: 30%;
  border-radius: 4px;
  left:8px;
  padding: 0px 4px;
  opacity: 1;
  transition: all .5s;

  @media only screen and (max-width: 600px) {
    width: 24%;
  }
}

.exchange-btn-active {
  left:8px;
  background-color: var(--bg-color);
  opacity: 1;
  color: var(--logo-color);
  border: 1px solid var(--logo-color) !important;
  transition: all .5s;
}

.commit-btn {
  width: 100%;
  border: none;
  border-radius: 16px;
  padding: 0px 4px;
  border-radius: 4px;
  opacity: 1;
  transition: all .5s;

  @media only screen and (max-width: 600px) {
    width: 23%;
  }
}

.cancel-btn {
  width: 32%;
  left:8px;
  border-radius: 4px;
  padding: 0px 4px;
  opacity: 1;
  border: none;
  transition: all .5s;
  @media only screen and (max-width: 600px) {
    width: 23%;
  }
}


.button-disabled {
  opacity: 0.2;
  pointer-events: none;
}

.challenge {
  z-index: 7000;
  position: fixed;
  width:100%;
  height:100%;
  top:-1000px;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.35);
  animation: hidechallenge .8s forwards;
}

.challenge-show {
  top:0;
  opacity: 0;
  animation: showchallenge .8s forwards;
}

@keyframes showchallenge {
  0% {
    top: 0px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showchallengebody {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes showchallengebody {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes hidechallenge {
  0% {opacity: 1; top: 0px; }
  99% {opacity: 0; top: 0px; }
  100% {top: -1000px; }
}

.challenge-info {
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 10px;
  color: var(--btn-type-hilite);
}

.challenge-body {
  // margin:   16px;
  padding:   16px;
  border-radius: 8px;
  color: var(--type-color);
  position: relative !important;
  transform: translateX(-1000px);
}

.challenge-body-show {
  animation: showchallengebody .7s ease-out 0.6s 1 forwards;
}

.challenge-body-narrow {
  // width: max-content;
}
.challenge-btn {
  cursor: pointer;
  color: var(--btn-bg-hilite);
  font-weight: bold;
  text-align: center;
  margin: 8px;
  background-color: transparent;
  border-radius: 4px;
  opacity: 1;
  transition: all .5s;
  @media only screen and (max-width: 600px) {
    // width: 23%;
  }
}

.btn-hidden {
  visibility: collapse;
}

.challenge-btn:hover {
  color: var(--btn-type-hilite) !important;
  transition: all .5s;
  @media only screen and (max-width: 600px) {
    // width: 23%;
  }
}

.message-body {
  text-align: left;
  color: $tea-green;
}

.challenge-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#my-letters {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 8px !important;
  padding: 0px !important;

  @media only screen and (min-width: 984px) {
    width: 100% !important;
    // margin-left: 16px !important;
  }
  @media only screen and (max-width: 984px) {
    flex-direction: row;
    align-items: center;
    width:80%;
    margin: 0;
    padding: 0;
  }
  @media only screen and (max-width: 600px) {
    margin: 0;
    margin-top: 8px !important;
    width:100%;
    padding: 0;
  }
}

.my-letter {
  pointer-events: none;
  font-family: 'Grandstander', display;
  font-size: 32px;
  color: $space-cadet;
  text-align: center;

  @media screen and (max-width: 420px)  {
    font-size: 28px;
    padding-top: 2px;
  }
}

#controls {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px;
  text-align: right;
  width:100%;
  @media only screen and (max-width: 984px) {
  }
  @media only screen and (max-width: 600px) {
    margin:0;
  }
}
