// Place all the styles related to the games controller here.
// They will 6.67%matically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#messages {
  visibility: hidden;
  height: 0;
}

:root {
  --blueish: blue;
}

html {
  background-color: #e0e0d1;
}

.stored-game {
  height: 70px;
}
.sortable-chosen {
  opacity: .3;
}

.avatar {
  height: 36px;
  border-radius:50%;
  // margin: 8px;
}

.navbar-title {
  font-size: 24px;
  max-height: 32px;
}
#navbar-game {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.4px;
  color: black;
}

.center-tile {
  background-color: hsl(118, 40, 80) !important;
  // background-image: image-url('../../assets/images/star.svg');
}


.joker-replaced {
  border: 2px solid hsl(118, 70, 70) !important;
  // background-image: image-url('../../assets/images/star.svg');
}

.your-games {
  background-color: hsl(210, 41, 21);
  width: 100%;
}

a {

  text-decoration: none !important;
  color: hsl(210, 40, 50) !important;
  font-family: 'Grandstander', display;
  font-size: 18px;

}

.status {
  color: hsl(210, 25, 75);
}

#navbarr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  padding: 4px 8px;
  padding-bottom: 0px;
  font-family: 'Grandstander', display;
  font-size: 20px;
  letter-spacing: 8px;
  background-color: hsl(60, 20, 85);
}

#navbarr a  {
  color: hsl(50, 87, 46) !important;
  font-size: 28px !important;
  font-weight: bolder;
  text-shadow: 1px 1px hsl(50, 67, 16);
  letter-spacing: 4.2px;
}

.this-user {
  font-weight: bolder;
  color: hsl(16, 180, 38);
}

.pickem {
  font-size: 16px;
  margin-top: 8px;
  font-weight: bold;
  color:  hsl(200, 60, 60);
  margin-bottom: 0px;
}

.opponent {

  margin-left: 8px;
  margin-bottom: 4px;
}

input {
  padding-left:8px;
}

#new-game-btn {
  border-radius: 4px;
  // border: 1px solid hsl(50, 87, 46);
  margin: 8px 0;
  padding: 0 8px;
  background-color: hsl(200, 60, 60);
  color: hsl(50, 94, 94);
}
#new-game-btn:hover {
  background-color: hsl(200, 60, 50);
  color: hsl(50, 94, 64);
}

// input [type ="checkbox"] {
//   transform: scale(3.2);
//   transform-origin: left;
// }
input[type='checkbox']{
  width: 16px !important;
  height: 16px !important;
  // margin: 5px;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // -o-appearance: none;
  // appearance:none;
  // outline: 2px solid lightblue;
  // box-shadow: none;
  font-size: 2em;
}

input[type="checkbox"]:checked { /* change "blue" browser chrome to yellow */
  filter: invert(100%) hue-rotate(15deg) brightness(5);

  -webkit-appearance: visible;
  -moz-appearance: visible;
  -o-appearance: visible;
  appearance:visible;
}

a:link, #navbar a:visited, #cnavbar a:hover, #navbar a:active,  {
    text-decoration:none;
}

.players {
  font-size: 12px;
  font-weight: bold;
  // color: hsl(90, 85, 40);
  color: black;
}

.hide {
  opacity:0;
}

.cards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%
}

.card {
  display: inline;
  height: 100px;
  border-radius: 8px;
  background-color: hsl(80, 16, 94) !important;
  box-shadow: 0px 1px 3px inset hsl(200, 35, 15);
  border: 1px solid black;
  // background-color: #e0e0d1;
}

.add-new-card {
  // color: hsl(100, 60, 40);
  font-size: 64px;
  text-align: center;
  display: flex;
   // font-size: 32;
  justify-content: space-around;
  align-items: center;
}

#last {
  padding: 4px 16px;
  margin:0;
  // background-color: hsl(60, 25, 80);
  font-size: 12px;
}

.my-value {
  position: relative;
  font-size: 14px;
  font-weight:bold;
  // right: -4px;
  bottom: -14px;
  pointer-events: none;
}

h5 {
  color: hsl(200, 120, 30);
}

#board {
  width: 630px;
  height: 620px;
  display: grid;
  grid-template-columns: 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67%
   6.67% 6.67% 6.67% 6.67% 6.67%;
  grid-template-rows: 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67% 6.67%
   6.67% 6.67% 6.67% 6.67% 6.67%;
  padding: 23px;
  padding-right: 20px;
  padding-top: 0px;
justify-items: center;
  background-color: hsl(60, 20, 85);
}

#dashboard {
  // padding-top: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: hsl(60, 20, 85);
}

#dashboard-show {
  padding-top: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

#scores {
  margin: 0;
  padding: 0;
}

.name-score {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  font-size: 12px;
  transition: all .3s ease-in;
  background-color: transparent;
}

.name {

}

.score {

}

.player-selected {
  background-color: hsl(200, 25, 60);
  font-weight: bold;
  transition: all .3s ease-in;
}



.tile {
  height: 36px;
  margin: 0px 2px;
  // padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(50, 19, 90);
  border-radius: 4px;
  border: 1px solid gray;
  // font-size: 12px;
  width:90%;
  // height:100%;
  box-shadow: 2px 2px 3px hsla(100, 15, 15, 0.4);
}

.double-word {
  background-color: hsl(18, 15, 82);
  // border: 1px solid hsl(0, 80, 40);
}

.triple-word {
  background-color: hsl(18, 20, 70);
  // border: 1px solid hsl(18, 80, 40);
}

.double-letter {
  background-color: hsl(200, 8, 83);
  // border: 1px solid hsl(18, 80, 40);
}

.triple-letter {
  background-color: hsl(200, 20, 70);
  // border: 1px solid hsl(18, 80, 40);
}
.my-tile {

  margin: 4px;
  padding: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(200, 15, 80);
  border-radius: 4px;
  border: 1px solid hsla(200, 130, 20, .7);
  // font-size: 12px;
  width:48px;
  // height:100%;
  // margin-left: 8px;
  opacity: 1;
  padding-left: 16px;
  box-shadow: 1px 1px 2px hsla(100, 15, 15, 0.4);
  transition: all .4s ease-in;
}

.letter {
  // margin:0;
  padding-top: 4px;
  font-family: 'Grandstander', display;
  font-size: 22px;
  // color: hsl(200, 30, 6);
  color: hsl(200, 110, 28);
  width: 22px;
  // height: 22px;
  text-align: center;
  text-shadow: 1px 1px hsla(200, 80, 12, .6);
  // padding: 8px;
  // padding-top: 6px;
  // transition: all .3s ease-in;
pointer-events: none;
}

.letter-selected {
  background-color: hsl(200, 45, 95);
  border: 1px solid hsl(200, 130, 40);
  // border: 1px solid var(--bluish);
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 3px hsla(100, 15, 15, 0.4);
  transition: all .3s ease-in;
pointer-events: none;
}

.letter-provisional {

  color: hsl(195, 180, 45);
}


.letter-disabled {
  opacity: .2;
}

.commit-btn {
  width: 45%;
  border-radius: 4px;
  padding: 0px 4px;
  background-color: hsl(60, 17, 68);
  opacity: 1;
  transition: all .5s;
  // color: white;

}
.cancel-btn {
  width: 45%;
  border-radius: 4px;
  padding: 0px 4px;
  background-color: hsl(160, 17, 68);
  opacity: 1;
  transition: all .5s;
  // color: white;

}

.button-disabled {
  opacity: 0.2;
  transition: all .5s;
}


#my-letters {
display: flex;
text-align: center;
justify-content: flex-start;
flex-direction: column;
align-items: center;
margin: 8px 48px;
margin-top: 8px;
padding: 0;
// border-radius: 4px;
//   background-color: hsl(60, 17, 93);
}

.my-letter {
pointer-events: none;
  font-family: 'Grandstander', display;
font-size: 32px;
  color: hsl(200, 120, 30);
  // width: 24px;
  // height: 22px;
  text-align: center;
  // padding: 8px;
  // padding-top: 6px;
  // transition: all .3s ease-in;
}

#controls {
  display: flex;
  justify-content: space-around;
  margin: 16px 4px;
  text-align: center;
}

