
@import 'config/colors';


#navbarr {
  // transform: translateY(-32px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 32px;
  margin: 0px;
  // padding: 4px 8px;
  padding-bottom: 0px;
  background-color:  transparent;
  z-index: 6000;
}

#navbarr a  {
  // color: hsl(50, 87, 46) !important;
  // font-size: 18px !important;
  font-weight: bolder;
  text-shadow: 1px 1px hsl(50, 67, 16);
  letter-spacing: 1.2px;

  font-family: 'Lato', sans-serif;
}

#navbar-left {
  top: 0 !important;
  width: 200px;
  height: 32px !important;
  // transform: translateY(6px);
  width: 100% !important;
  text-align: center;
  display: flex;
  position: fixed;
  margin: 0;
  z-index: 10000;
  justify-content: center !important;

  @media screen and (max-width:600px) {

  padding-right: 5%;
  }
}

.navbar-title-holder {
}

.navbar-title {
  width: auto;
  font-size: 27px !important;
  max-height: 32px;
  font-weight: bolder;
  color: var(--logo-color) !important;
  font-family: 'Grandstander', display;
  letter-spacing: 7px;
  // margin-left:32px;
  text-align: center;
  padding-top: 0px;
  text-shadow: 1px 1px $rich-black;

  animation: .7s ease-out 6s 1 both navbar-title-squeeze infinite ;

}

.scrooble-green {
  color: $tea-green;
}

@keyframes navbar-title-squeeze {
  0% { letter-spacing: 7px; transform: translateX(0px)}
  50% {letter-spacing: 0.5px}
  100% { letter-spacing: 7px}
}

#navbar-game {
  text-align:left;
  color: var(--btn-type-hilite);
  @media only screen and (max-width: 600px) {
  transition: .3s all;
  }
}

#navbar-game:hover {
  color: var(--btn-type-hilite);
  transition: .3s all;
}


.navbar-player {



  @media only screen and (max-width: 600px) {

  font: var(--font1);
  }
}
