
@import 'config/colors';


#navbarr {
  top: 0 !important;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0px;
  // padding: 4px 8px;
  // padding-bottom: 0px;
  height: 50px;
  z-index: 6000;
  // box-shadow: 1px 1px 3px black;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 6px var(--bg-color);
}


#navbarr::after {
  content: "";
  // background-color: var(--bg-color) !important;
  // background: linear-gradient(0deg, rgba(20,20,20,0) 5%, rgba(20,20,20,1) 10% ) no-repeat;
  background-attachment: fixed;

}


#navbar-logo {
  // width: 100% !important;
  top: -12px !important;
  // height: 38px !important;
  // transform: translateY(6px);
  width: auto !important;
  text-align: center;
  position: absolute;
  margin: 0;
  z-index: 6000;
  justify-content: center !important;
  @media screen and (max-width:600px) {
  transform: scale(.93) translateY(-2px);
  // padding-right: 5%;
  }
  @media screen and (max-width:400px) {
  transform: scale(.85) translateY(-4px);
  // padding-right: 5%;
  }
}

.navbar-title-holder {
}

.navbar-title {
  width: auto;
  font-size: 25px !important;
  max-height: 32px;
  font-weight: bolder;
  color: var(--logo-color) !important;
  font-family: 'Grandstander', display;
  letter-spacing: 7px;
  // margin-left:32px;
  text-align: center;
  padding-top: 0px;
  text-shadow: 1px 1px $rich-black;

  animation: .7s ease-out 6s 1 both navbar-title-squeeze infinite ;

}

.scrooble-green {
  color: $tea-green;
}

@keyframes navbar-title-squeeze {
  0% { letter-spacing: 7px; transform: translateX(0px)}
  50% {letter-spacing: 0.5px}
  100% { letter-spacing: 7px}
}

#navbar-game {
  width:auto;
  text-align:left;
  color: var(--btn-type-hilite);
  @media only screen and (max-width: 600px) {
  transition: .3s all;
  }

  z-index: 1000 !important;
}

#navbar-game:hover {
  color: var(--btn-type-hilite);
  transition: .3s all;
}


.navbar-player {
  width: 100%;
  display: flex;
  @media only screen and (max-width: 600px) {
    font: var(--font1);
  }
}

.user-paren {
  color: var(--type-color);
  font-weight: lighter;
  font-size: 11px;
  line-height: 8px !important;
  margin-bottom: 4px;
  margin-left: 4px;
  letter-spacing: 1.05px;
}


.logged-in-as {
  margin-bottom: 8px !important;
  margin-right: 8px !important;
  padding: 0;
  font-size: 12px;
  text-align: right;

}

.dropdown-menu {
  color: var(--type-color) !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 4px !important;
  border-radius: 8px;
  // border: 1px solid var(--btn-border) !important;
  // opacity: .3;
box-shadow: 2px 1px 3px $xiketic;
width: 60px !important;
right:0;

}


.dropdown-menu::before {
  // padding: 8px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0px, -4px);
    border-radius: 4px;
    background-color: var(--panel-color);
    opacity: 0.8;
    z-index: -100;
border: 1px solid var(--btn-type) !important;
}

.dropdown-item {
  color: var(--btn-type) !important;
  font-size: 13px;
  text-shadow: none !important;
  margin: 0 !important;
  // padding: 4px !important;
  padding-left: 8px !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: var(--btn-type-hilite) !important;
  font-size: 13px;
  text-shadow: none !important;
}

.nav-item-last {
  position: fixed;
  // transform: translate(12px, 4px);
  text-align: right;
  // padding-left: 360px !important;
  font-size: 14px !important;
  top:8px;
  right:8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
  @media screen and (max-width: 650px) {

  // transform: translate(18px, -7px) scale(.8);
  }
}
